<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/DocuPath</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DocuPathEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=DocuPath;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DocuPath.DataLayer.DocuPathEntities, DocuPath" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DPConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=DocuPath;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DocuPath.Models.ApplicationDbContext, DocuPath" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=.;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DocuPath-20170819102224.mdf;Initial Catalog=aspnet-DocuPath-20170819102224;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DocuPath-20170819102224.mdf;Initial Catalog=aspnet-DocuPath-20170819102224;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DPConnection-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=DocuPath;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DocuPathEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataLayer.DocuPath.csdl|res://*/DataLayer.DocuPath.ssdl|res://*/DataLayer.DocuPath.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=DocuPath;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DPConnection-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=DocuPath;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DocuPathEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataLayer.DocuPath.csdl|res://*/DataLayer.DocuPath.ssdl|res://*/DataLayer.DocuPath.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=DocuPath;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=.;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DPConnection-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=DocuPath;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DocuPathEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataLayer.DocuPath.csdl|res://*/DataLayer.DocuPath.ssdl|res://*/DataLayer.DocuPath.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=DocuPath;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>