@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@Model.Exception.Message

<div class="row" style="display: flex; align-items: center; margin-top: 0px">
    <div class="col-md-5 col-md-offset-1">
        <div id="divDNA">
            <div class="dna-decor">
                <div class="ele-decor-broken-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
                <div class="ele-decor-broken"></div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h1 class="text-danger" style="font-family: 'U.S. 101'; font-size: 75px;text-align:center">Error.</h1>
    </div>
    <div class="col-md-6">
        <h2 class="text-danger" style="font-family: 'Segoe UI'; text-align: justify; font-weight: normal; font-style: italic">An error occurred while processing your request.</h2>
    </div>

