@{ ViewBag.Title = "Unauthorized"; }
<div class="grid homepage-grid">
    <div class="text-center" style="background-color: #fff">
        <img src="~/Content/Resources/DPCircularLogoWhiteBG.png" style="max-height: 250px" />
        <hr class="toast-divider" />
        <p class="toast-heading">UNAUTHORIZED ACCESS ATTEMPT.</p>
        <hr class="toast-divider" />
        <p class="toast-subheading">You have insufficient permissions to access this function. Contact your system administrator.</p>
    </div>
</div>