@{
    ViewBag.Title = "About";
}

<div class="grid about-grid">
    <div class="header-par">
        CLDRM ("CLOUDRIM") WAS ESTABLISHED IN 2016 AS A STUDENT PROJECT GROUP. CLDRM IS AN IT CONSULTING AND DEVELOPMENT START-UP FORMED BY INFORMATICS STUDENTS AT THE UNIVERSITY OF PRETORIA. FOUNDED IN 2016 AND BASED IN PRETORIA, CLDRM HAS ACHIEVED SUCCESS IN THE INFORMATICS FIELD.
    </div>
    <div class="grid pulse-grid">
        <div grid-area="blank1"></div>
        <div grid-area="pulse1">P</div>
        <div grid-area="blank2"></div>
        <div grid-area="pulse2">P</div>
        <div grid-area="pulse3">P</div>
        <div grid-area="blank3"></div>
    </div>
    <div class="grid blurb-grid blurb-container">
        <div class="C">
            <div class="blurb-body">
                <img class="blurb-image" src="http://www.placehold.it/175x175.png" />
                <div class="blurb-name">CALLIE BOFILATOS</div>
                <hr class="blurb-hr" />
                <div class="blurb-flavortext">
                    Business owner by day, dance teacher by night, Greek for life, mother to four cats and four dogs, and an acute sufferer from wanderlust that doesn't eat to live, but lives to eat. Callie has a critical eye and can identify mistakes in anything.
                </div>
            </div>
        </div>
        <div class="L">
            <div class="blurb-body" style="margin-top: 37.5px">
                <img class="blurb-image" src="http://www.placehold.it/175x175.png" />
                <div class="blurb-name">LUKE VOIGT</div>
                <hr class="blurb-hr" />
                <div class="blurb-flavortext">
                    Indie gamer, business analyst, Bounce fanatic, forward thinker, creative problem solver, elegant solution generator and coffee connoisseur. Luke follows trends and developments in the world of technology, but also loves to kick back in
                    the great outdoors.
                </div>
            </div>
        </div>
        <div class="D">
            <div class="blurb-body" style="margin-top: 75px">
                <img class="blurb-image" src="http://www.placehold.it/175x175.png" />
                <div class="blurb-name">DAVID ROZEN</div>
                <hr class="blurb-hr" />
                <div class="blurb-flavortext">
                    Part-time DJ, photographer, cycling enthusiast, long-time karateka, entrepreneur, and branded merchandise zealot. David prides himself on his business thinking with his experience in the real world.
                </div>
            </div>
        </div>
        <div class="R">
            <div class="blurb-body" style="margin-top: 37.5px">
                <img class="blurb-image" src="http://www.placehold.it/175x175.png" />
                <div class="blurb-name">RUCO PRETORIUS</div>
                <hr class="blurb-hr" />
                <div class="blurb-flavortext">
                    A passionate ARPG and MOBA gamer, technology fanatic, entrepreneur, public speaker, piano player, scuba diver and fantasy/sci-fi reader. Ruco strives to maintain his meticulous attention to detail and professional approach to all forms of interaction at all times.
                </div>
            </div>
        </div>
        <div class="M">
            <div class="blurb-body">
                <img class="blurb-image" src="http://www.placehold.it/175x175.png" />
                <div class="blurb-name">MANON HOLMAN</div>
                <hr class="blurb-hr" />
                <div class="blurb-flavortext">
                    A lover of succulents, adorer of cats, drinker of tea, avid Pinterest browser, running fanatic, and amateur guitarist, Manon has an interest in all things creative along with a critical eye for detail, colour palettes and other visual issues.
                </div>
            </div>
        </div>
    </div>