<link rel="stylesheet" href="~/Content/DNADecoration.css" type="text/css" />
@{ ViewBag.Title = "Home Page"; ViewBag.GenericHAPTICLocator = "HomePageGeneric"; ViewBag.SpecificHAPTICLocator = "HomePageSpecific"; ViewBag.PageInfoLocator = "Home"; }

<div class="grid homepage-grid">
    <div class="grid menu-form-grid homepage-menu-container" grid-area="form">
        <div></div>
        @if (Request.IsAuthenticated)
        {
            <div class="panel-group" id="HomepageAccordion">
                <div class="panel panel-default">
                    <div id="CORTEXheading" class="panel-heading" data-toggle="collapse" data-target="#CORTEXpanel" data-parent="#HomepageAccordion" style="cursor: pointer">
                        <img src="~/Content/Resources/CortexLogo.png" style="max-height: 60px" data-toggle="tooltip" title="OPEN CORTEX MENU" data-placement="right" />
                    </div>
                    <div id="CORTEXpanel" class="panel-collapse collapse">
                        <div class="panel-body apad5" style="margin-bottom: 0px">
                            <div class="grid homepage-tile-grid">
                                <p class="homepage-panel-flavourtext">Case Management</p> <!-- SECTION HEADER -->
                                <form class="homepage-tile-subgrid" action="~/ForensicCase/All" style="">
                                    <button id="FCTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-fc" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">FORENSIC CASES</span>
                                    </button>
                                </form>
                                <form class="homepage-tile-subgrid" action="~/LegacyCase/All" style="">
                                    <button id="LCTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-lc" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">LEGACY CASES</span>
                                    </button>
                                </form>
                                <form class="homepage-tile-subgrid" action="~/ExternalReviewCase/All" style="">
                                    <button id="ERCTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-erc" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">EXTERNAL REVIEW CASES</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-top: 25px; margin-bottom: 25px">
                    <div id="CORNEAheading" class="panel-heading" data-toggle="collapse" data-target="#CORNEApanel" data-parent="#HomepageAccordion" style="cursor: pointer">
                        <img src="~/Content/Resources/CorneaLogo.png" style="max-height: 60px" data-toggle="tooltip" title="OPEN CORNEA MENU" data-placement="right" />
                    </div>
                    <div id="CORNEApanel" class="panel-collapse collapse">
                        <div class="panel-body apad5" style="margin-bottom: 0px">
                            <div class="grid homepage-tile-grid">
                                <p class="homepage-panel-flavourtext">Media Management</p> <!-- SECTION HEADER -->
                                <form class="homepage-tile-subgrid" action="~/Media/All" style="">
                                    <button id="MediaTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-media" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">MEDIA REPOSITORY</span>
                                    </button>
                                </form>
                                <p class="homepage-panel-flavourtext">Reporting</p>
                                <form class="homepage-tile-subgrid" action="~/Reporting/INSIGHT" style="">
                                    <button id="InsightTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-reporting" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">INSIGHT REPORTING</span>
                                    </button>
                                </form>
                                @*<form class="homepage-tile-subgrid" action="~/Reporting/VISION" style="">
                                    <button id="VisionTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-sysoverview" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">VISION DASHBOARD</span>
                                    </button>
                                </form>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="PULSEheading" class="panel-heading" data-toggle="collapse" data-target="#PULSEpanel" data-parent="#HomepageAccordion" style="cursor: pointer">
                        <img src="~/Content/Resources/PulseLogo.png" style="max-height: 60px" data-toggle="tooltip" title="OPEN PULSE MENU" data-placement="right" />
                    </div>
                    <div id="PULSEpanel" class="panel-collapse collapse">
                        <div class="panel-body apad5" style="margin-bottom: 0px">
                            <div class="grid homepage-tile-grid">
                                <p class="homepage-panel-flavourtext">External Interactions</p> <!-- SECTION HEADER -->
                                <form class="homepage-tile-subgrid" action="~/ServiceProvider/All" style="">
                                    <button id="SPTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-serviceprovider" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">SERVICE PROVIDERS</span>
                                    </button>
                                </form>
                                <form class="homepage-tile-subgrid" action="~/ServiceRequest/All" style="">
                                    <button id="SRTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-servicerequest" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">SERVICE REQUESTS</span>
                                    </button>
                                </form>
                                <p class="homepage-panel-flavourtext">Scheduling &amp; Calendar</p> <!-- SECTION HEADER -->
                                <form class="homepage-tile-subgrid" action="~/Scheduling/Calendar" style="">
                                    <button id="GCTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-date" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">PERSONAL GOOGLE CALENDAR</span>
                                    </button>
                                </form>
                                <form class="homepage-tile-subgrid" action="~/Scheduling/MonthlyDutyRoster" style="">
                                    <button id="MDRTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-mdrcompile" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">MONTHLY DUTY ROSTER</span>
                                    </button>
                                </form>
                                <form class="homepage-tile-subgrid" action="~/Scheduling/DailyAutopsySchedule" style="">
                                    <button id="DASTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-autopsyschedule" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">DAILY AUTOPSY SCHEDULE</span>
                                    </button>
                                </form>
                                <p class="homepage-panel-flavourtext">System Management</p> <!-- SECTION HEADER -->
                                <form class="homepage-tile-subgrid" action="~/ContentTag/All" style="">
                                    <button id="SPTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-tag" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">CONTENT TAGS</span>
                                    </button>
                                </form>
                                @*<form class="homepage-tile-subgrid" action="~/ContentTag/All" style="">
                                    <button id="SRTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-cog" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">SYSTEM PARAMETERS</span>
                                    </button>
                                </form>*@
                                <p class="homepage-panel-flavourtext">User Management</p> <!-- SECTION HEADER -->
                                <form class="homepage-tile-subgrid" action="~/User/All" style="">
                                    <button id="SPTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-user" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">USERS</span>
                                    </button>
                                </form>
                                <form class="homepage-tile-subgrid" action="~/AccessLevel/All" style="">
                                    <button id="SRTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-login" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">ACCESS LEVELS</span>
                                    </button>
                                </form>
                                <p class="homepage-panel-flavourtext">Accountability Management</p> <!-- SECTION HEADER -->
                                <form class="homepage-tile-subgrid" action="~/AuditTrail/All" style="">
                                    <button id="SRTile" type="submit" class="btn homepage-tile-body align-vc-hl">
                                        <i class="homepage-tile-icon mdl2icon mdl2-auditlog" grid-area="icon"></i>
                                        <span class="homepage-tile-text" grid-area="text">AUDIT TRAIL</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="text-center" style="background-color: #fff">
                <img src="~/Content/Resources/DPCircularLogoWhiteBG.png" style="max-height: 250px" />
                <hr class="toast-divider" style="margin-top: 0" />
                <p class="toast-heading">WELCOME TO DOCUPATH</p>
                <hr class="toast-divider" />
                <p class="toast-subheading">PLEASE LOG IN TO CONTINUE</p>
                <form class="minimalform" action="~/Account/Login">
                    <button class="btn btn-default" type="submit" onclick="this.blur()">Log In</button>
                </form>
            </div>
        }
        <div></div>
    </div>
    <div class="login-decor" grid-area="decor">
        <div class="dna-decor" style="width: 325px; padding: 0 12px 0 12px">
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
        </div>
    </div>
</div>