@using DocuPath.Models;
@{ ViewBag.Title = "Daily Autopsy Schedule"; ViewBag.GenericHAPTICLocator = "DASGeneric"; ViewBag.SpecificHAPTICLocator = "DASSpecific"; ViewBag.PageInfoLocator = "DAS"; }

@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid" style="margin-top: 10px">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-reporting"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">RETRIEVED DAILY AUTOPSY SCHEDULE <span style="color: #666">– </span><span style="color: #ae1f1f">@ViewBag.RetrieveDate</span></div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-three">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" @*action="~/GenerateCauseOfDeathReport" method="post"*@ style="margin-top: 2px">
                    <button id="btnPrint" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-print btn-mdl2icon" onclick="$('#retrieved_das').modal('show')" data-toggle="tooltip" title="PRINT"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>


<div class="form-horizontal form-generic">
    <embed src="~/@VERTEBRAE.GetUrl(@ViewBag.PreviewURL)" height="650" width="1065" type="text/pdf" />
</div>