@{ ViewBag.Title = "Password Recovery"; ViewBag.GenericHAPTICLocator = "ForgotPasswordCheckEmailGeneric"; ViewBag.SpecificHAPTICLocator = "ForgotPasswordCheckEmailSpecific"; ViewBag.PageInfoLocator = "ForgotPasswordCheckEmail"; }

<div class="grid homepage-grid">
    <div class="grid menu-form-grid homepage-menu-container" grid-area="form">
        <div></div>
        <div class="text-center" style="background-color: #fff">
            <img src="~/Content/Resources/DPCircularLogoWhiteBG.png" style="max-height: 250px" />
            <hr class="toast-divider" />
            <p class="toast-heading" style="color: #468847">PASSWORD RESET LINK SENT</p>
            <hr class="toast-divider" />
            <p class="toast-subheading">An email has been sent to your registered email address. Please check your email to reset your password.</p>
            <hr class="toast-divider" />
            <form class="minimalform" action="~/Home/Index">
                <button class="btn btn-default" type="submit" onclick="this.blur()">Return Home</button>
            </form>
        </div>
    </div>
    <div class="login-decor" grid-area="decor">
        <div class="dna-decor" style="width: 325px; padding: 0 12px 0 12px">
            <div style="background-color: #fff !important; position: absolute; top: calc(50% - 50px); left: -5px; z-index: 2000; width: 100%; height: 150px; border: 1px solid black; border-left: 5px solid white; border-right: 5px solid white; text-align: center"><i class="mdl2icon mdl2-sent" style="font-size: 90pt; color: #468847; padding-top: 12px"></i></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
            <div class="ele-decor ele-decor-faded"></div>
        </div>
    </div>
</div>

@* PAGE HEADER & ACTION BUTTONS: *@
@*<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-done"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">PASSWORD RESET LINK SENT</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-one">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>

<div class="form-horizontal border-generic form-generic">
    <p class="text-center nomarg alert-bar alert-bar-success fullwidth">An email has been sent to your registered email address. Please check your email to reset your password.</p>
</div>*@
	
