
<div>
    <input type="text" id="test" style="margin-top:30px" />
</div>

@section Scripts
    {
    @Scripts.Render("~/bundles/tageditor")

    <script>
        $('#test').tagEditor({
            autocomplete: {
                delay: 0, // show suggestions immediately
                position: { collision: 'flip' }, // automatic menu position up/down
                source:"@Url.Action("GetTags")"
            },
            forceLowercase: false,
            placeholder: 'Programming languages ...'
        });
    </script>
    }